TIKTOK_REFRESH_TOKEN=rft.blabla
TIKTOK_CLIENT_KEY=toto
TIKTOK_CLIENT_SECRET=tata
API_URL=https://127.0.0.1:8000/api/game-of-the-day/


YOUTUBE_API_KEY=blabla
YOUTUBE_CLIENT_ID=client
YOUTUBE_CLIENT_SECRET=secret

BLUESKY_HANDLE=example.bsky.social
BLUESKY_APP_PASSWORD=password